<% include partials/header.ejs %>



<br>
<div class="container-fluid" style = "margin-left: 3%;">
	<div class="row">
		<% auctions.forEach( function(auction) { %>
			<div class="card" style="width: 18rem; margin: 2%;">
				<img class="card-img-top" style="height:20em" src="<%= auction.Image%>" alt="Card image cap">
				<div class="card-body">
					<h3 class="card-title"><b><%= auction.name %></b></h3>
					
					<h5><b>Price:</b> <%= auction.Buy_Price		 %></h5>
					<h5><b>Start:</b> <%= auction.Started		 %></h5>
					<h5><b>End:</b>   <%= auction.Ends	  		 %></h5>
					
					<br>
					<h5><a href="/categories/<%= auction.category%>/<%= auction._id%>">More info</a></h5>
					
					<% if( (new Date(auction.Started).getTime() / 1000) <= (new Date().getTime() / 1000) && (new Date(auction.Ends).getTime() / 1000) >= (new Date().getTime() / 1000)){ %>
						<% if(currentUser !== undefined && currentUser.role === "bidder") { %>
							<h5><a href="/categories/<%= auction.category %>/<%= auction._id %>/makeBid"> <font style="color:green;"> <strong> Make a bid </strong> </font> </a></h5>
						<% } %>
					<% } %>
				</div>
			</div>

		<% }) %>
	</div>

	<br>
	<br>
	<a class="btn btn-sm btn-primary btn-default" href="/categories">Go Back</a>


</div>




<% include partials/footer.ejs %>
