<% include partials/header.ejs %>


<div class="container">
	<% var a=0; %>
	<br>
	<div class="card-deck">
		<%  auctions.forEach( function(auction) {   %>
			<% if(auction.category === category)  { %>
				<% a=1; %>
				<div class="card body bg-light">

					<img class="card-img-top" style="height:250px" src="<%= auction.Image %>" alt="Card image">

					<div class="container">
						<h4 class="card-title mt-2"><b><%= auction.name %></b></h4>

						<h5><b>Buy price:</b> $<%= auction.Buy_Price %></h5>
						<h5><b>Start:</b> <%= auction.Started %> </h5>
						<h5><b>Ends:</b> <font color="red"><%= auction.Ends %></font> </h5>
						<br>

						<p class="card-text"> <%= auction.Description %> </p>
						<a href="/categories/<%= category %>/<%= auction._id %>" class="btn btn-primary">More Info</a>

						<% if(currentUser !== undefined) { %>
							<a href="/categories/<%= category %>/<%= auction._id %>/makeBid" class="btn btn-danger"> Make a bid </a>
						<% } %>

					</div>
				</div>
			<% } %>
		<% }); %>
		<% if(a === 0){ %>
			<h2 align="center"> Τhere are no objections in this category</h2>
		<% } %>
	</div>
	<br>
	<a href="/categories" class="btn btn-primary">Go Back</a>
</div>

<br>
<br>



<% include partials/footer.ejs %>
