<% include partials/header.ejs %>


<div class="container">
	<header class="jumbotron">
		<div class="container">

			<h2 align="center"><b> More info about this auction: </b></h2>
			<br>

			<img src="<%= auction.Image %>" class="img-fluid" alt="Responsive image">

			<br>
			<br>
			<h4><b>Name:</b> <%= auction.name %> </h4>
			<h4><b>ItemId:</b> <%= auction.ItemId %> </h4>
			<h4><b>Category:</b> <%= auction.category %> </h4>
			<h4><b>Buy price:</b> <%= auction.Buy_Price %> </h4>
			<h4><b>First bid:</b> <%= auction.First_Bid %> </h4>
			<h4><b>Currently:</b> <%= auction.Currently %> </h4>
			<h4><b>Location:</b> <%= auction.Location %> </h4>
			<h4><b>Country:</b> <%= auction.Country %> </h4>
			<h4><b>Started:</b> <%= auction.Started %> </h4>
			<h4><b>Ends:</b> <%= auction.Ends %> </h4>
			<h4><b>Number_of_bids:</b> <%= auction.Number_of_bids %> </h4>
			<h4><b>Description:</b> <%= auction.Description %> </h4>

			<div id="mapdiv" style="height:250px"></div>
		  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		  <script>
		    map = new OpenLayers.Map("mapdiv");
		    map.addLayer(new OpenLayers.Layer.OSM());

		    var lonLat = new OpenLayers.LonLat( <%= longitude %>,<%= latitude %>)// -0.1279688 ,51.5077286
		          .transform(
		            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
		            map.getProjectionObject() // to Spherical Mercator Projection
		          );

		    var zoom=16;

		    var markers = new OpenLayers.Layer.Markers( "Markers" );
		    map.addLayer(markers);

		    markers.addMarker(new OpenLayers.Marker(lonLat));

		    map.setCenter (lonLat, zoom);
		  </script>

			<% if( (new Date(auction.Started).getTime() / 1000) <= (new Date().getTime() / 1000) && (new Date(auction.Ends).getTime() / 1000) >= (new Date().getTime() / 1000)){ %>
				<% if(currentUser !== undefined && currentUser.role === "bidder") { %>
					<a href="/categories/<%= auction.category %>/<%= auction._id %>/makeBid" class="btn btn-danger"> Make a bid </a>
				<% } %>
			<% } %>

			<div class="container">
				<br>
				<a href="/categories/<%= auction.category %>" class="btn btn-primary">Go Back</a>
			</div>
		</div>
	</header>
</div>



<% include partials/footer.ejs %>
