<% include partials/header.ejs %>



<div class="container">
	<br>
	<h1> <center><font color="black"><strong> MY AUCTIONS </strong></font></center> </h1>
	<br>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Category</th>
				<th scope="col">Buy price</th>
				<th scope="col">Number of bids</th>
				<th scope="col">Started</th>
				<th scope="col">Ends</th>
				<th scope="col">Description</th>
				<th scope="col">Show bids</th>
				<th scope="col">Edit</th>
				<th scope="col">Delete</th>

			</tr>
		</thead>
		<tbody style="background-color: #F5F5DC;">
			<% auctions.forEach(function(auction) {  %>
				<tr>
					<td><%= auction.name %></td>
					<td><%= auction.category %></td>
					<td><%= auction.Buy_Price %></td>
					<td><%= auction.Number_of_bids %></td>
					<td><%= auction.Started %></td>
					<td><%= auction.Ends %></td>
					<td><%= auction.Description %></td>
					<td><a href="/auctions/<%= auction._id %>/showBids"> show bids </a></td>


					<!-- // H apo katw sinthiki xreiazetai kai auto
					//   && (new Date(auction.Started).getTime() / 1000) > (new Date().getTime() / 1000) -->
					<% if(auction.Number_of_bids === 0 ){ %>
						<td><a href="/auctions/<%= auction._id %>/editAuction"> edit </a></td>
					<% } else {%>
						<td> </td>
					<% } %>


					<!-- // H apo katw sinthiki xreiazetai kai auto
					//   && (new Date(auction.Started).getTime() / 1000) > (new Date().getTime() / 1000) -->
					<% if(auction.Number_of_bids === 0 ){ %>
						<td>
							<form action="/auctions/<%= auction._id %>?_method=DELETE" method="POST">
								<button class"btn">delete</button>
							</form>
						</td>
					<% } else {%>
						<td> </td>
					<% } %>

				</tr>
			<% })  %>
		</tbody>
	</table>
	<a class="btn btn-lg btn-primary btn-default " href="javascript:history.back()">Go Back</a>
</div>



<% include partials/footer.ejs %>
