<% include partials/header.ejs %>

<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h2> The buy price for <%= auction.name %> is:<%= auction.Buy_Price %></h2>
      <a class="btn btn-success" href="/categories/<%= auction.category %>/<%= auction._id %>/confirmBuy">Buy now</a>
	
			<a href="javascript:history.back()" class="btn btn-lg btn-primary btn-default back" href="/categories/<%= auction.category %>/">Go Back</a>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>
