<% include partials/header.ejs %>

<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h2> The buy price for <%= auction.name %> is:<%= auction.Buy_Price %></h2>
      <a class="btn btn-success" href="/categories/<%= auction.category %>/<%= auction._id %>/confirmBuy">Buy now</a>
	
			<a class="btn btn-sm btn-primary btn-default" href="/categories/<%= auction.category %>/">Go Back</a>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>
