<% include partials/header.ejs %>


<div class="container">
	<h2 style="text-align: center; color: black;">Edit <%= auction.name %></h2>
	<div style="width: 30%; margin: 20px auto;">
		<form action="/auctions/<%= auction._id %>?_method=PUT" method="POST">
	
			<div class="form-group">
					<input class="form-control" type="text" name="auction[name]" placeholder = "New name" value="<%= auction.name %>">
			</div>
			
			<div class="form-group">
					<select class="form-control" type="text" name="auction[category]" value="<%= auction.category %>">					
						<option value="" disabled selected>Choose Category</option>
						  <option value="home" >Home & Garden</option>
						  <option value="Fashion">Fashion & Jewlery</option>
						  <option value="Health">Health</option>
						  <option value="Sports">Sports</option>
						  <option value="Books">Books</option>
						  <option value="Movies">Games & Consoles</option>
						  <option value="Toys">Toys</option>
						  <option value="Electronics">Electronics</option>
						  <option value="Art">Art</option>
						  <option value="Houses">Properties</option>
						  <option value="Vehicles">Vehicles</option>
					</select>
			</div>		
			
			
			<div class="form-group">
					<input class="form-control" type="number" name="auction[Buy_Price]" placeholder = "Buy price" value="<%= auction.Buy_Price %>">
			</div>
			
			<div class="form-group">
					<input class="form-control" type="number" name="auction[First_Bid]" placeholder = "First bid" value="<%= auction.First_Bid %>">
			</div>
		
			<div class="form-group">
				<input class="form-control" type="text" name="auction[Location]" placeholder = "Location" value="<%= auction.Location %>">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="auction[Country]" placeholder = "Country" value="<%= auction.Country %>">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="datetime-local" name="auction[Started]" placeholder = "Started" value="<%= auction.Ends %>">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="datetime-local" name="auction[Ends]" placeholder = "Ends Date" value="<%= auction.Ends %>">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="auction[Image]" placeholder = "Image" value="<%= auction.Image %>">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="auction[Description]" placeholder = "Description" value="<%= auction.Description %>">
			</div>

			
			
			
			<div class="form-group">
				<button class="btn btn-sm btn-success btn-default btn-block" >Update</button>
			</div>
		</form>
		<a class="btn btn-sm btn-primary btn-default" href="/auctions">Go Back</a>
	</div>
</div>	

<% include partials/footer.ejs %>