<% include partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/manager.css">

  <!-- Masthead -->
  <header class="masthead  text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" id="searchDiv">
          <form action = "/managerPage?_method=GET" method = "POST">
            <div class="form-row">
     	            <div class="col-4 col-md-4 ">					
							   <select class="mdb-select md-form" name="role" >
							   		<option value="" disabled selected >search by role</option>
							   		<option  value="seller" >only sellers</option>
							   		<option value="bidder" >only bidders</option>
							   		<option  value="all">all</option>
							   </select>
						
	               </div>  

	              <div class="col-2 col-md-2">
	                <button type="submit" id="search" class="btn btn-block btn-lg btn-primary">Search</button>
	              </div>          
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>



<ul id="users">
	<h3 id="userHeader"> Users </h3>
	<%  foundUsers.forEach( function(user) {    %>
			<% if(user.role !== "manager") {  %>
					<% if(role !== undefined) {  %>
						<% if(role === "all") { %>
							<li id="userItem"> 
								<%= user.username %>
								<a class="nav-link" href="/managerPage/<%=  user._id  %>" style="display: inline;"  > show user details </a>
							</li>							
						<% } else if(user.role === role) { %>
							<li id="userItem"> 
								<%= user.username %>
								<a class="nav-link" href="/managerPage/<%=  user._id  %>" style="display: inline;"  > show user details </a>
							</li>
						<% } %>
					<% } else { %>
							<li id="userItem"> 
								<%= user.username %>
								<a class="nav-link" href="/managerPage/<%=  user._id  %>" style="display: inline;"  > show user details </a>
							</li>
					<% } %>
			<% } %>
	<%  });  %>

</ul>


<% include partials/footer.ejs %>