<% include partials/header.ejs %>

<div class="container">
<br>
<br>
<h1><b> Manager HomePage </b></h1>

<link rel="stylesheet" type="text/css" href="/manager.css">

  <!-- Masthead -->
  <header class="masthead  text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" id="searchDiv">
		
		
          <form action = "/managerPage?_method=GET" method = "POST">
            <div class="form-row" style="margin: 60px 0px 40px 130px">
     	            <div class="col-2 col-md-5">	
						<select class="mdb-select md-form" name="role" style="height:30px; width:130px">
							<option value="" disabled selected >search by role</option>
							<option  value="seller" >only sellers</option>
							<option value="bidder" >only bidders</option>
							<option  value="all">all</option>
						</select>
	               </div>  

	              <div class="col-2 col-md-2">
	                <button style="margin: 3px 10px 20px 20px" type="submit" id="search" class="btn btn-block btn-primary">Search</button>
	              </div>          
              </div>
            </div>
          </form>
		
        </div>
      </div>
    </div>
  </header>
</div>





<br>
<div class="container">

<table class="table">
	<thead class="thead-dark">
		<tr>
		
		<th scope="col">Username</th>
		<th scope="col">Details</th>
		
		</tr>
	</thead>
	<tbody style="background-color: #F5F5DC;">
	
	<%  foundUsers.forEach( function(user) {    %>
		<tr>
			<% if(user.role !== "manager") {  %>
					<% if(role !== undefined) {  %>
						<% if(role === "all") { %>
							
								<td><%= user.username %></td>
								<td><a class="nav-link" href="/managerPage/<%=  user._id  %>" style="display: inline;"  > show user details </a></td>
													
						<% } else if(user.role === role) { %>
							
								<td><%= user.username %></td>
								<td><a class="nav-link" href="/managerPage/<%=  user._id  %>" style="display: inline;"  > show user details </a></td>
							
						<% } %>
					<% } else { %>
							 
								<td><%= user.username %></td>
								<td><a class="nav-link" href="/managerPage/<%=  user._id  %>" style="display: inline;"  > show user details </a></td>
							
					<% } %>
			<% } %>
		</tr>
	<%  });  %>
	</tbody>
</table>
</div>


<% include partials/footer.ejs %>